<hr>
  <div class="row">
    <div class="span8 offset2 autor">
      <figure data-toggle="tooltip" title="DEAL WITH IT">
      <svg version="1.1" id="minid" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="70px" height="70px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
        <radialGradient id="SVGID_1_" cx="50" cy="50" r="50" gradientUnits="userSpaceOnUse">
          <stop  offset="0" style="stop-color:#777"/>
          <stop  offset="1" style="stop-color:#444"/>
        </radialGradient>
        <path fill="url(#SVGID_1_)" d="M100,100H0V0h100V100z"/>
        <rect fill="#cccccc" x="40" y="60" width="20" height="11"/>
        <polygon fill="#eeeeee" points="70,18 30,18 30,55 30,60 30,72 40,72 40,60 70,60 "/>
        <rect fill="#666666" x="28" y="70" width="35" height="30"/>
        <g>
          <polygon fill="#a9a9a9" points="70,80 70,70 60,70 60,80 60,81 60,100 80,100 80,80  "/>
          <polygon fill="#a9a9a9" points="20,80 10,80 10,100 20,100 27,100 30,100 30,70 20,70  "/>
        </g>
        <rect x="65" y="90" fill="#ffffff" width="10" height="5"/>
        <path d="M85,35H40v-5h10V20h15h15V0H50v10h-5H30v18v2v10h7h3v5v5h5h10h1h2h2V40h10v5v5h5h10h5v-5v-5v-5H85z M45,45v-5h10v5H45z M85,45H75v-5h10V45z"/>
        <rect x="68" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="66" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="64" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="62" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="60" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="58" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="56" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="54" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="52" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="50" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="48" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="46" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="44" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="42" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="40" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="38" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="36" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="34" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="32" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="30" y="58" opacity="0.1" width="1" height="1"/>
        <rect x="67" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="65" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="69" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="63" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="61" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="59" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="57" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="55" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="53" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="51" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="49" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="47" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="45" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="43" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="41" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="39" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="37" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="35" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="33" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="31" y="56" opacity="0.1" width="1" height="1"/>
        <rect x="68" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="66" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="64" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="62" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="60" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="58" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="56" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="54" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="52" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="50" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="48" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="46" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="44" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="42" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="40" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="38" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="36" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="34" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="32" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="30" y="54" opacity="0.1" width="1" height="1"/>
        <rect x="67" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="65" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="69" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="63" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="61" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="59" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="57" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="55" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="53" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="51" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="49" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="47" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="45" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="43" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="41" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="39" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="68" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="66" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="64" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="62" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="60" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="58" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="56" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="54" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="52" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="50" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="48" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="46" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="44" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="42" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="40" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="37" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="35" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="33" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="31" y="52" opacity="0.1" width="1" height="1"/>
        <rect x="38" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="36" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="34" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="32" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="30" y="50" opacity="0.1" width="1" height="1"/>
        <rect x="38" y="48" opacity="0.1" width="1" height="1"/>
        <rect x="36" y="48" opacity="0.1" width="1" height="1"/>
        <rect x="34" y="48" opacity="0.1" width="1" height="1"/>
        <rect x="32" y="48" opacity="0.1" width="1" height="1"/>
        <rect x="30" y="48" opacity="0.1" width="1" height="1"/>
        <rect x="37" y="46" opacity="0.1" width="1" height="1"/>
        <rect x="35" y="46" opacity="0.1" width="1" height="1"/>
        <rect x="33" y="46" opacity="0.1" width="1" height="1"/>
        <rect x="31" y="46" opacity="0.1" width="1" height="1"/>
        <rect x="39" y="46" opacity="0.1" width="1" height="1"/>
        <rect x="38" y="44" opacity="0.1" width="1" height="1"/>
        <rect x="36" y="44" opacity="0.1" width="1" height="1"/>
        <rect x="34" y="44" opacity="0.1" width="1" height="1"/>
        <rect x="32" y="44" opacity="0.1" width="1" height="1"/>
        <rect x="30" y="44" opacity="0.1" width="1" height="1"/>
        <rect x="39" y="42" opacity="0.1" width="1" height="1"/>
        <rect x="37" y="42" opacity="0.1" width="1" height="1"/>
        <rect x="35" y="42" opacity="0.1" width="1" height="1"/>
        <rect x="33" y="42" opacity="0.1" width="1" height="1"/>
        <rect x="31" y="42" opacity="0.1" width="1" height="1"/>
        <rect x="38" y="40" opacity="0.1" width="1" height="1"/>
        <rect x="36" y="40" opacity="0.1" width="1" height="1"/>
        <rect x="34" y="40" opacity="0.1" width="1" height="1"/>
        <rect x="32" y="40" opacity="0.1" width="1" height="1"/>
        <rect x="30" y="40" opacity="0.1" width="1" height="1"/>
      </svg>
      </figure>
      <p><a href="/autor/">Diego Lafuente</a> es el autor del blog minid.net desde el año 2001. En Twitter lo podrás encontrar como <a href="http://www.twitter.com/minid">@minid</a> y también está accesible en <a href="https://plus.google.com/107159313684622289512/">Google+</a>, pero también le puedes <a href="/contacto/">contactar por email</a>. Es <cite>La Ira de Khan</cite>. Diseñador, coder, UX/UI hacker y usuario veterano de casi todas las .com.</p>
    </div>
  </div>