<meta name="description" content="{{ page.excerpt }}">
    <link rel="icon" type="image/png" href="{% asset_path favicon.png %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% asset_path apple-touch-icon-144x144-precomposed.png %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% asset_path apple-touch-icon-114x114-precomposed.png %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% asset_path apple-touch-icon-72x72-precomposed.png %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% asset_path apple-touch-icon-57x57-precomposed.png %}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/index.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheet style %}