---
title: Archivos de entradas
---

<!DOCTYPE html>
<html lang="es">
<head>
    {% include statics_header.html %}
    <title>{{ page.title }} – Minid.net</title>
  </head>
  <body>
    
    {% include header.html %}

    <div class="container">

      <h1>Archivo de <span><b style="color:black;background-color:#a0ffff">2013</b></span></h1>
        
      <div class="row">
        <ul class="list">
          <li><a href="http://www.minid.net/2013/02/07/el-inevitable-fin-de-los-libros-en-papel/" rel="bookmark">El inevitable fin de los <span>libros en papel</span></a> <time>7 de febrero</time></li>
          <li id="post-4088"><a href="http://www.minid.net/2013/01/29/por-que-los-enlaces-son-de-color-azul/" rel="bookmark">¿Por qué <span class="s1">los enlaces</span> son de color azul?</a> <time>29 de enero</time></li>
                        <li id="post-4078"><a href="http://www.minid.net/2013/01/23/el-famoso-drama-de-los-intermediarios/" rel="bookmark">El famoso <span class="s1">drama de los intermediarios</span></a> <time>23 de enero</time></li>
                        <li id="post-4041"><a href="http://www.minid.net/2013/01/08/reventando-el-tabu-de-los-teclados-mecanicos/" rel="bookmark">Reventando el tabú de <span class="s1">los teclados mecánicos</span></a> <time>8 de enero</time></li>
                    </ul>
      </div>
      <hr>
      <div class="row">
        <div class="span12 archives">
          <ul>  <li><a href='http://www.minid.net/2013/02/' title='febrero 2013'>febrero <b style="color:black;background-color:#a0ffff">2013</b></a></li>
  <li><a href='http://www.minid.net/2013/01/' title='enero 2013'>enero <b style="color:black;background-color:#a0ffff">2013</b></a></li>
  <li><a href='http://www.minid.net/2012/12/' title='diciembre 2012'>diciembre 2012</a></li>
  <li><a href='http://www.minid.net/2012/11/' title='noviembre 2012'>noviembre 2012</a></li>
  <li><a href='http://www.minid.net/2012/10/' title='octubre 2012'>octubre 2012</a></li>
  <li><a href='http://www.minid.net/2011/10/' title='octubre 2011'>octubre 2011</a></li>
  <li><a href='http://www.minid.net/2011/08/' title='agosto 2011'>agosto 2011</a></li>
  <li><a href='http://www.minid.net/2011/07/' title='julio 2011'>julio 2011</a></li>
  <li><a href='http://www.minid.net/2011/06/' title='junio 2011'>junio 2011</a></li>
  <li><a href='http://www.minid.net/2011/04/' title='abril 2011'>abril 2011</a></li>
  <li><a href='http://www.minid.net/2010/07/' title='julio 2010'>julio 2010</a></li>
  <li><a href='http://www.minid.net/2010/02/' title='febrero 2010'>febrero 2010</a></li>
  <li><a href='http://www.minid.net/2010/01/' title='enero 2010'>enero 2010</a></li>
  <li><a href='http://www.minid.net/2009/06/' title='junio 2009'>junio 2009</a></li>
  <li><a href='http://www.minid.net/2009/04/' title='abril 2009'>abril 2009</a></li>
  <li><a href='http://www.minid.net/2009/01/' title='enero 2009'>enero 2009</a></li>
  <li><a href='http://www.minid.net/2008/12/' title='diciembre 2008'>diciembre 2008</a></li>
  <li><a href='http://www.minid.net/2008/11/' title='noviembre 2008'>noviembre 2008</a></li>
  <li><a href='http://www.minid.net/2008/10/' title='octubre 2008'>octubre 2008</a></li>
  <li><a href='http://www.minid.net/2008/09/' title='septiembre 2008'>septiembre 2008</a></li>
  <li><a href='http://www.minid.net/2008/08/' title='agosto 2008'>agosto 2008</a></li>
  <li><a href='http://www.minid.net/2008/07/' title='julio 2008'>julio 2008</a></li>
  <li><a href='http://www.minid.net/2008/06/' title='junio 2008'>junio 2008</a></li>
  <li><a href='http://www.minid.net/2008/04/' title='abril 2008'>abril 2008</a></li>
  <li><a href='http://www.minid.net/2008/03/' title='marzo 2008'>marzo 2008</a></li>
  <li><a href='http://www.minid.net/2008/02/' title='febrero 2008'>febrero 2008</a></li>
  <li><a href='http://www.minid.net/2008/01/' title='enero 2008'>enero 2008</a></li>
  <li><a href='http://www.minid.net/2007/12/' title='diciembre 2007'>diciembre 2007</a></li>
  <li><a href='http://www.minid.net/2007/11/' title='noviembre 2007'>noviembre 2007</a></li>
  <li><a href='http://www.minid.net/2007/10/' title='octubre 2007'>octubre 2007</a></li>
  <li><a href='http://www.minid.net/2007/09/' title='septiembre 2007'>septiembre 2007</a></li>
  <li><a href='http://www.minid.net/2007/08/' title='agosto 2007'>agosto 2007</a></li>
  <li><a href='http://www.minid.net/2007/07/' title='julio 2007'>julio 2007</a></li>
  <li><a href='http://www.minid.net/2007/06/' title='junio 2007'>junio 2007</a></li>
  <li><a href='http://www.minid.net/2007/05/' title='mayo 2007'>mayo 2007</a></li>
  <li><a href='http://www.minid.net/2007/04/' title='abril 2007'>abril 2007</a></li>
  <li><a href='http://www.minid.net/2007/03/' title='marzo 2007'>marzo 2007</a></li>
  <li><a href='http://www.minid.net/2007/02/' title='febrero 2007'>febrero 2007</a></li>
  <li><a href='http://www.minid.net/2007/01/' title='enero 2007'>enero 2007</a></li>
  <li><a href='http://www.minid.net/2006/12/' title='diciembre 2006'>diciembre 2006</a></li>
  <li><a href='http://www.minid.net/2006/11/' title='noviembre 2006'>noviembre 2006</a></li>
  <li><a href='http://www.minid.net/2006/10/' title='octubre 2006'>octubre 2006</a></li>
  <li><a href='http://www.minid.net/2006/09/' title='septiembre 2006'>septiembre 2006</a></li>
  <li><a href='http://www.minid.net/2006/08/' title='agosto 2006'>agosto 2006</a></li>
  <li><a href='http://www.minid.net/2006/07/' title='julio 2006'>julio 2006</a></li>
  <li><a href='http://www.minid.net/2006/06/' title='junio 2006'>junio 2006</a></li>
  <li><a href='http://www.minid.net/2006/05/' title='mayo 2006'>mayo 2006</a></li>
  <li><a href='http://www.minid.net/2006/04/' title='abril 2006'>abril 2006</a></li>
  <li><a href='http://www.minid.net/2006/03/' title='marzo 2006'>marzo 2006</a></li>
  <li><a href='http://www.minid.net/2006/02/' title='febrero 2006'>febrero 2006</a></li>
  <li><a href='http://www.minid.net/2006/01/' title='enero 2006'>enero 2006</a></li>
  <li><a href='http://www.minid.net/2005/12/' title='diciembre 2005'>diciembre 2005</a></li>
  <li><a href='http://www.minid.net/2005/11/' title='noviembre 2005'>noviembre 2005</a></li>
  <li><a href='http://www.minid.net/2005/10/' title='octubre 2005'>octubre 2005</a></li>
  <li><a href='http://www.minid.net/2005/09/' title='septiembre 2005'>septiembre 2005</a></li>
  <li><a href='http://www.minid.net/2005/08/' title='agosto 2005'>agosto 2005</a></li>
  <li><a href='http://www.minid.net/2005/07/' title='julio 2005'>julio 2005</a></li>
  <li><a href='http://www.minid.net/2005/06/' title='junio 2005'>junio 2005</a></li>
  <li><a href='http://www.minid.net/2005/05/' title='mayo 2005'>mayo 2005</a></li>
  <li><a href='http://www.minid.net/2005/04/' title='abril 2005'>abril 2005</a></li>
  <li><a href='http://www.minid.net/2005/03/' title='marzo 2005'>marzo 2005</a></li>
  <li><a href='http://www.minid.net/2005/02/' title='febrero 2005'>febrero 2005</a></li>
  <li><a href='http://www.minid.net/2005/01/' title='enero 2005'>enero 2005</a></li>
  <li><a href='http://www.minid.net/2004/12/' title='diciembre 2004'>diciembre 2004</a></li>
  <li><a href='http://www.minid.net/2004/11/' title='noviembre 2004'>noviembre 2004</a></li>
  <li><a href='http://www.minid.net/2004/10/' title='octubre 2004'>octubre 2004</a></li>
  <li><a href='http://www.minid.net/2004/09/' title='septiembre 2004'>septiembre 2004</a></li>
  <li><a href='http://www.minid.net/2004/08/' title='agosto 2004'>agosto 2004</a></li>
  <li><a href='http://www.minid.net/2004/07/' title='julio 2004'>julio 2004</a></li>
  <li><a href='http://www.minid.net/2004/06/' title='junio 2004'>junio 2004</a></li>
  <li><a href='http://www.minid.net/2004/05/' title='mayo 2004'>mayo 2004</a></li>
  <li><a href='http://www.minid.net/2004/04/' title='abril 2004'>abril 2004</a></li>
  <li><a href='http://www.minid.net/2004/03/' title='marzo 2004'>marzo 2004</a></li>
  <li><a href='http://www.minid.net/2004/02/' title='febrero 2004'>febrero 2004</a></li>
  <li><a href='http://www.minid.net/2004/01/' title='enero 2004'>enero 2004</a></li>
  <li><a href='http://www.minid.net/2003/12/' title='diciembre 2003'>diciembre 2003</a></li>
  <li><a href='http://www.minid.net/2003/11/' title='noviembre 2003'>noviembre 2003</a></li>
  <li><a href='http://www.minid.net/2003/10/' title='octubre 2003'>octubre 2003</a></li>
  <li><a href='http://www.minid.net/2003/09/' title='septiembre 2003'>septiembre 2003</a></li>
  <li><a href='http://www.minid.net/2003/08/' title='agosto 2003'>agosto 2003</a></li>
  <li><a href='http://www.minid.net/2003/07/' title='julio 2003'>julio 2003</a></li>
  <li><a href='http://www.minid.net/2003/06/' title='junio 2003'>junio 2003</a></li>
  <li><a href='http://www.minid.net/2003/05/' title='mayo 2003'>mayo 2003</a></li>
  <li><a href='http://www.minid.net/2003/04/' title='abril 2003'>abril 2003</a></li>
  <li><a href='http://www.minid.net/2003/03/' title='marzo 2003'>marzo 2003</a></li>
  <li><a href='http://www.minid.net/2003/02/' title='febrero 2003'>febrero 2003</a></li>
  <li><a href='http://www.minid.net/2003/01/' title='enero 2003'>enero 2003</a></li>
  <li><a href='http://www.minid.net/2002/12/' title='diciembre 2002'>diciembre 2002</a></li>
  <li><a href='http://www.minid.net/2002/11/' title='noviembre 2002'>noviembre 2002</a></li>
  <li><a href='http://www.minid.net/2002/10/' title='octubre 2002'>octubre 2002</a></li>
  <li><a href='http://www.minid.net/2002/09/' title='septiembre 2002'>septiembre 2002</a></li>
  <li><a href='http://www.minid.net/2002/08/' title='agosto 2002'>agosto 2002</a></li>
  <li><a href='http://www.minid.net/2002/07/' title='julio 2002'>julio 2002</a></li>
  <li><a href='http://www.minid.net/2002/06/' title='junio 2002'>junio 2002</a></li>
  <li><a href='http://www.minid.net/2002/05/' title='mayo 2002'>mayo 2002</a></li>
  <li><a href='http://www.minid.net/2002/04/' title='abril 2002'>abril 2002</a></li>
  <li><a href='http://www.minid.net/2002/03/' title='marzo 2002'>marzo 2002</a></li>
  <li><a href='http://www.minid.net/2002/02/' title='febrero 2002'>febrero 2002</a></li>
  <li><a href='http://www.minid.net/2002/01/' title='enero 2002'>enero 2002</a></li>
  <li><a href='http://www.minid.net/2001/12/' title='diciembre 2001'>diciembre 2001</a></li>
  <li><a href='http://www.minid.net/2001/11/' title='noviembre 2001'>noviembre 2001</a></li>
  <li><a href='http://www.minid.net/2001/10/' title='octubre 2001'>octubre 2001</a></li>
  <li><a href='http://www.minid.net/2001/04/' title='abril 2001'>abril 2001</a></li>
  <li><a href='http://www.minid.net/2001/03/' title='marzo 2001'>marzo 2001</a></li>
</ul>
         </div>
</div>